[package]
description = "Library wrapping the awesome PokeAPI"
documentation = "https://docs.rs/rustemon/latest/rustemon/"
edition = "2021"
homepage = "https://github.com/mlemesle/rustemon"
keywords = ["pokeapi", "pokemon", "wrapper", "http", "rest"]
license = "MIT"
name = "rustemon"
readme = "README.md"
repository = "https://github.com/mlemesle/rustemon"
version = "3.4.0"

[features]
default = ["filesystem-cache"]
filesystem-cache = ["http-cache-reqwest/manager-cacache"]
in-memory-cache = ["http-cache-reqwest/manager-moka"]

[dependencies]
async-trait = "0.1.77"
http-cache-reqwest = { version = "0.13.0", default-features = false }
reqwest = { version = "0.11.23", features = ["json"] }
reqwest-middleware = "0.3.0"
serde = { version = "1.0.196", features = ["derive"] }
thiserror = "1.0.56"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }

[[example]]
name = "custom_filesystem_client"
required-features = ["filesystem-cache"]

[[example]]
name = "custom_in_memory_client"
required-features = ["in-memory-cache"]
